LLAMA_MODEL_FILE=model.gguf
LLAMA_CTX_SIZE=2048
LLAMA_THREADS=4
LLAMA_PARALLEL=2
JUDGE0_IMAGE=judge0/judge0:1.13.1
JUDGE0_WORKERS=2
JUDGE0_SERVER_MEMORY=768m
JUDGE0_SERVER_CPUS=1.0
JUDGE0_WORKER_MEMORY=1536m
JUDGE0_WORKER_CPUS=2.0
JUDGE0_DB_MEMORY=512m
JUDGE0_DB_CPUS=1.0
JUDGE0_REDIS_MEMORY=256m
JUDGE0_REDIS_CPUS=0.5
JUDGE0_SECRET_KEY_BASE=change-this-local-secret
JUDGE0_COUNT=2
JUDGE0_SERVER_PROCESSES=2
JUDGE0_SERVER_THREADS=8
POSTGRES_HOST=judge0-db
POSTGRES_PORT=5432
POSTGRES_DB=judge0
POSTGRES_USER=judge0
POSTGRES_PASSWORD=judge0
REDIS_HOST=judge0-redis
REDIS_PORT=6379
